/* Colors on states */
/* Items */
.state-accepted_but_modified, .label-state-accepted_but_modified {
    color: green !important;
}
#plone-contentmenu-workflow .state-accepted_but_modified {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color: green;
    padding: 0 0.5em;
    color: white !important;
    border: 2px solid green;
}

.state-pre_accepted, .label-state-pre_accepted {
    color: green !important;
}
#plone-contentmenu-workflow .state-pre_accepted {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color: green;
    padding: 0 0.5em;
    color: white !important;
    border: 2px solid green;
}

/* make sure multiselect fields displayed on the edit form are not too long */
div#archetypes-fieldname-echevinServices {
    max-height: 300px;
    max-width: 500px;
    overflow-x: auto;
}

.state-proposed_to_financial_controller,
.label-state-proposed_to_financial_controller,
.state-proposed_to_financial_editor,
.label-state-proposed_to_financial_editor,
.state-proposed_to_financial_reviewer,
.label-state-proposed_to_financial_reviewer,
.state-proposed_to_financial_manager,
.label-state-proposed_to_financial_manager {
    color: DarkOrange;
}
.state-financial_advice_signed,
.label-state-financial_advice_signed {
    color: blue;
}
